<!-- <% include ./layout %> -->
<h6>Admin</h6>

<form class="form-signin" role="form" action="/adminDashboard" method="post" enctype="multipart/form-data">


Movie Name <input class="form-control" type="text" name="moviename" id="inputMoviename" placeholder="movie name"/>



Date 1 : <input class="form-control" type="date" name="date1" id="insertdate1" placeholder="Date 1"/>
Date 2 : <input class="form-control" type="date" name="date2" id="insertdate2" placeholder="Date 2"/>
Morning Show <input class="form-control" type="text" name="morningShow" id="morningShow" placeholder="morning Show"/>
Noon Show <input class="form-control" type="text" name="noonShow" id="noonShow" placeholder="Noon Show"/>
First Show <input class="form-control" type="text" name="firstShow" id="firstShow" placeholder="First Show"/>
Second Show <input class="form-control" type="text" name="secondShow" id="secondShow" placeholder="Second Show"/>

<input type="file" name="myimage" ></input>
<input type="submit" name="submit" value="submit"></input>

<!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> -->
</form>
